version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/hrchat
    depends_on: [mongo]

  mongo:
    image: mongo:7
    # ports:            # ← remove these two lines
    #   - "27017:27017" # ← remove
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:



networks:
  hr-chat-network:
    driver: bridge
