version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/hrchat
    depends_on:
      - mongo
    networks:
      - hr-chat-network

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - hr-chat-network

volumes:
  mongo_data:

networks:
  hr-chat-network:
    driver: bridge
